* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* img {
  width: 100%;
  height: auto;
}

body {
  max-width: 100%;
  max-height: 100%;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
}

@media (min-width: 200px) {
  .principalWrapper {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .principalWrapper {
    width: 1200px;
  }
}

body {
  background-color: #292a2b;
}

.body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 1200px) {
  .popup-content-header {
    visibility: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.4666666667);
  }
  .popup-content-header .content {
    width: 600px;
    height: 425px;
    border-radius: 10px;
    background-color: #292a2b;
    box-shadow: 0 0 50px 0 #181818;
  }
  .popup-content-header .content .content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .popup-content-header .content .content-top .title {
    color: white;
  }
  .popup-content-header .content .content-top .back a {
    color: white;
  }
  .popup-content-header .content .content-medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .popup-content-header .content .content-medium ul {
    margin: 1rem;
  }
  .popup-content-header .content .content-medium ul li {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
  }
  .popup-content-header .content .content-medium ul li div {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
    color: white;
    text-align: center;
  }
  .popup-content-header .content .content-down {
    display: flex;
    justify-content: center;
  }
  .popup-content-header .content .content-down button {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #ed0c6e;
    background: #4e2438;
    border: #4e2438;
    cursor: pointer;
  }
  .popup-content-header.active {
    visibility: visible;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.4666666667);
  }
  .popup-content-header.active .content {
    position: relative;
    width: 600px;
    height: 425px;
    border-radius: 10px;
    background-color: #292a2b;
    box-shadow: 0 0 50px 0 #181818;
    animation-name: contentpopup;
    animation-duration: 0.6s;
  }
  @keyframes contentpopup {
    from {
      transform: translateY(-25px);
      opacity: 0;
    }
  }
  .popup-content-header.active .content .content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .popup-content-header.active .content .content-top .title {
    color: white;
  }
  .popup-content-header.active .content .content-top .back a {
    color: white;
  }
  .popup-content-header.active .content .content-medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .popup-content-header.active .content .content-medium ul {
    margin: 1rem;
  }
  .popup-content-header.active .content .content-medium ul li {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
  }
  .popup-content-header.active .content .content-medium ul li div {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
    color: white;
    text-align: center;
  }
  .popup-content-header.active .content .content-down {
    display: flex;
    justify-content: center;
  }
  .popup-content-header.active .content .content-down button {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #ed0c6e;
    background: #4e2438;
    border: #4e2438;
  }
  .popup-content-categoria::-webkit-scrollbar {
    display: none;
  }
  .popup-content-categoria {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    visibility: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.4666666667);
  }
  .popup-content-categoria .content {
    width: auto 0;
    height: 1200px;
    border-radius: 10px;
    background-color: #292a2b;
    box-shadow: 0 0 50px 0 #181818;
  }
  .popup-content-categoria .content .content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .popup-content-categoria .content .content-top .title {
    color: white;
  }
  .popup-content-categoria .content .content-top .back a {
    color: white;
  }
  .popup-content-categoria .content .content-medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .popup-content-categoria .content .content-medium ul {
    margin: 1rem;
  }
  .popup-content-categoria .content .content-medium ul li {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
  }
  .popup-content-categoria .content .content-medium ul li div {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
    color: white;
    text-align: center;
  }
  .popup-content-categoria.active {
    overflow-y: scroll;
    visibility: visible;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.4666666667);
  }
  .popup-content-categoria.active .content {
    margin: 1rem;
    position: relative;
    width: auto;
    height: 900px;
    border-radius: 10px;
    background-color: #292a2b;
    box-shadow: 0 0 50px 0 #181818;
    animation-name: contentpopup;
    animation-duration: 0.6s;
  }
  @keyframes contentpopup {
    from {
      transform: translateY(-25px);
      opacity: 0;
    }
  }
  .popup-content-categoria.active .content .content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .popup-content-categoria.active .content .content-top .title {
    color: white;
  }
  .popup-content-categoria.active .content .content-top .back a {
    color: white;
  }
  .popup-content-categoria.active .content .content-medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .popup-content-categoria.active .content .content-medium .img-content {
    width: 700px;
    height: auto;
    padding: 0 1rem;
  }
  .popup-content-categoria.active .content .content-medium .img-content img {
    border-radius: 1rem;
  }
  .popup-content-categoria.active .content .content-down {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }
  .popup-content-categoria.active .content .content-down .product-description {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-bottom: 1rem;
  }
  .popup-content-categoria.active .content .content-down .product-description h2 {
    font-size: 1.2rem;
    color: white;
  }
  .popup-content-categoria.active .content .content-down .product-description p {
    padding: 0.4rem 0;
    font-size: 0.9rem;
    color: #909090;
    padding-bottom: 0.2rem;
  }
  .popup-content-categoria.active .content .content-down .product-description .price {
    display: flex;
    flex-direction: row;
  }
  .popup-content-categoria.active .content .content-down .product-option {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product {
    padding: 0 0 1rem 0;
    color: white;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product .underline-main {
    font-size: 1.2rem;
    position: relative;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product .underline-main::after {
    content: " ";
    height: 2px;
    width: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -5px;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product .count-products {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product .count-products .border {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(229, 160, 160);
    border-radius: 1rem;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product .count-products .border div {
    margin: 1rem;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product .count-products .border div i {
    color: red;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product .section-shop {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product .section-shop .button-shop {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: red;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product ul {
    padding: 0.5rem 0 0.8rem 0;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product ul li {
    padding: 0.2rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product ul li .price-checkbox {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
  .popup-content-categoria.active .content .content-down .product-option .content-product ul li .price-checkbox input {
    margin: 0 0.5rem;
  }
  .background-content {
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #240b36, #c31432); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #272524, #272524, #272524, #272524, #272524, #272524, #272524, #272524, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }
  .background-content header {
    margin: 0.5rem;
    width: auto;
    height: 100%;
    background-color: #292a2b;
    border-radius: 0.5rem;
  }
  .background-content header .top-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 1.5rem 2rem;
  }
  .background-content header .top-header .logo-content {
    width: 75px;
    height: 75px;
  }
  .background-content header .top-header .info-content .redes-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  .background-content header .top-header .info-content .redes-content li {
    margin: 0rem 0.8rem 0.8rem 0.8rem;
  }
  .background-content header .top-header .info-content .redes-content li i {
    color: white;
  }
  .background-content header .top-header .info-content .adress-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: white;
  }
  .background-content header .top-header .info-content .butomms-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: white;
  }
  .background-content header .top-header .info-content .butomms-content div {
    margin: 0.5rem;
  }
  .background-content header .top-header .info-content .butomms-content .buttom-cerrado {
    font-size: 15px;
    font-weight: bold;
    background: #4e2438;
    width: 100px;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #ed154d;
    border-radius: 100px;
  }
  .background-content header .top-header .info-content .butomms-content .buttom-abierto {
    font-size: 15px;
    font-weight: bold;
    background: #2bbf66;
    width: 100px;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 100px;
  }
  .background-content header .top-header .info-content .butomms-content .butttom-1 a {
    color: #ed154d;
    text-decoration: none;
  }
  .background-content header .top-header .info-content .promociones-content {
    color: white;
  }
  .background-content header .medium-header {
    padding: 0 0 1rem 0;
  }
  .background-content header .medium-header ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0.5rem 1rem;
  }
  .background-content header .medium-header ul .medium-buttom-1 {
    font-size: 15px;
    font-weight: bold;
    background: rgba(43, 191, 102, 0);
    width: 32%;
    padding: 0.5rem;
    text-transform: uppercase;
    color: rgb(136, 136, 136);
    border-radius: 100px;
    border: 3px solid rgb(136, 136, 136);
    cursor: pointer;
  }
  .background-content header .medium-header ul .medium-buttom-2 {
    font-size: 15px;
    font-weight: bold;
    background: #2bbf66;
    width: 32%;
    height: auto;
    text-transform: uppercase;
    padding: 0.5rem;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 100px;
    border: 3px solid #2bbf66;
    cursor: pointer;
  }
  .section-slider {
    display: flex;
    flex-direction: column;
  }
  .section-slider .title {
    display: flex;
    justify-content: start;
    margin: 0 1rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 100;
  }
  .section-slider .slider {
    margin: 0.5rem 0.5rem;
    width: auto;
    height: 100%;
    background-color: #292a2b;
    border-radius: 0.5rem;
  }
  .section-slider .slider ul {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .section-slider .slider ul .buttom-cerrado {
    margin: 1rem 0rem;
    margin-left: 1rem;
    font-size: 15px;
    font-weight: bold;
    background: #ed0c6e;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #5a2a45;
    border-radius: 100px;
    cursor: pointer;
  }
  .section-cards {
    display: flex;
    flex-direction: column;
  }
  .section-cards .title {
    display: flex;
    justify-content: start;
    margin: 0 1rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 100;
  }
  .section-cards .slider {
    margin: 0.5rem 0.5rem;
    width: auto;
    height: 100%;
    background-color: #292a2b;
    border-radius: 0.5rem;
  }
  .section-cards .slider ul {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .section-cards .slider ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0rem;
    margin-left: 1rem;
    border-radius: 1rem;
    background-color: #272524;
  }
  .section-cards .slider ul li .image-content {
    width: 150px;
    height: 141px;
    border-radius: 1rem;
  }
  .section-cards .slider ul li .image-content img {
    border-radius: 1rem 1rem 0 0;
  }
  .section-cards .slider ul li .image-description {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: start;
    font-size: 0.7rem;
    padding: 0.5rem;
    color: white;
  }
  .section-productos .title {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin: 0 1rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 100;
  }
  .section-productos .title p {
    color: #909090;
  }
  .section-productos .products li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0.6rem 0.5rem;
    background-color: #292a2b;
    border-radius: 0.5rem;
  }
  .section-productos .products li .product-description {
    text-align: start;
    padding: 0 1rem;
  }
  .section-productos .products li .product-description h2 {
    font-size: 1rem;
    color: white;
    padding-bottom: 0.2rem;
  }
  .section-productos .products li .product-description p {
    font-size: 0.8rem;
    color: #909090;
    padding-bottom: 0.2rem;
  }
  .section-productos .products li .image-content {
    align-items: end;
    width: 112px;
    height: 106px;
  }
  .section-productos .products li .image-content img {
    border-radius: 0.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
